.menuBtn {
    background-color: blue;
    border: none;
    margin-left: 16px;
}
md-list .md-button {
    color: inherit;
    text-align: left;
    width: 100%;
}

/* side nav*/
.md-sidenav-left{
    background-color: #8BC34A;}

.md-sidenav-left :first-child { background-color: #8BC34A; }