.menuBtn {
    background-color: blue;
    border: none;
    margin-left: 16px;
}
md-list .md-button {
    color: inherit;
    text-align: left;
    width: 100%;
}

/* Animations */

.sidenav-item.active-add, .sidenav-item.active-remove{
  transition: 150ms linear all;
  color: black!important;
  border-color: transparent;
}

.sidenav-item.active, .sidenav-item.active-add-active {
  border-color: #fff;
  color: white!important;
  font-size: x-large;
}