<div class="resources-container">
    <h3 class="md-headline">
        <i class="mdi mdi-link"></i>
        Resources
    </h3>
    <p>Here are some articles I find interesting and I want to share with you. I'll be adding more every month</p>

    <div layout="column" layout-fill>
        <div class="md-whiteframe-z2" layout layout-align="center center">
            <p>I have encountered several times the need of having html elements with sharp corners, or simply give it a custom shape. Wouldn't this be awesome by using only <strong>CSS</strong> without the need of using images? Check this out:
                <a href="https://css-tricks.com/examples/ShapesOfCSS/">
                    CSS Tricks. Build shapes using pure CSS</a>
            </p>
        </div>
        <div class="md-whiteframe-z2" layout layout-align="center center">
            <p>Are you new to <strong>AngularJS</strong>? I've tried several front-end frameworks but I like AngularJS the most. It also has a great community, support and tutorials online. Here is one of the best video-tutorials to get started.
                <a href="https://youtu.be/i9MHigUZKEM">AngularJS Fundamentals In 60-ish Minutes</a>
            </p>
        </div>
        <div class="md-whiteframe-z2" layout layout-align="center center">
            <p>Are you a web developer and need to build an iOS or Android app in no time? The <strong>Ionic Framework</strong> is the answer. Ionic is a powerful HTML5 native app development framework that helps you build native-feeling mobile apps all with web technologies like HTML, CSS, and Javascript. Find out how
                <a href="http://ionicframework.com/">here</a>
            </p>
        </div>
        <div class="md-whiteframe-z2" layout layout-align="center center">
            <p>In case you don't have a web designer in your team, <strong>Angular Material</strong> implements Material Design in AngularJS. In fact, this website is a product of Angular Material. Find out more here:
                <a href="https://material.angularjs.org/latest/#/">Material Design for AngularJS</a>
            </p>
        </div>
        <div class="md-whiteframe-z2" layout layout-align="center center">
            <p>Want to build scalable web apps quickly and easily? Check out the <strong>MEAN stack</strong>, a collection of technologies (MongoDB, Express, AngularJS, and Node.js) that fit well together to provide a solution that allows for a full-stack JavaScript implementation of web applications.
                <a href="https://youtu.be/Jh0er2pRcq8">Explore the MEAN Stack</a>
            </p>
        </div>
    </div>

</div>