<div class="resume-container">
    <h3 class="md-headline">
        <i class="mdi mdi-file-document"></i>
        Resume
    </h3>
    <p>Here is the my latest resume. Feel free to check it out and don't forget to leave a message on the <a href="/#/contact"> contact </a> page</p>

    <div class="pdf-container md-whiteframe-z5">
        <object data="assets/documents/JVila_Resume062015.pdf" type="application/pdf" width="100%" height="100%">

            <div class="pdf-container-small md-whiteframe-z4">
                <a href="assets/documents/JVila_Resume062015.pdf">Click here to download Resume</a>
            </div>

        </object>
    </div>
    <div class="pdf-container-small md-whiteframe-z4">
        <a href="assets/documents/JVila_Resume062015.pdf">Click here to download Resume</a>
    </div>
</div>