<md-sidenav layout="column"
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-close
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-content layout-padding>
        <div class="profile-content">
            <img src="/assets/profile.jpg" alt="profile" width="287"/>
        </div>
        <ul >
            <li>
                <md-button class="md-primary active" ng-class="active : tabindex==1 " ng-click="tabindex = 1">About Me</md-button>
            </li>
            <li>
                <md-button class="md-primary" ng-class="active : tabindex==2 " ng-click="tabindex = 2">Resume</md-button>
            </li>
            <li>
                <md-button class="md-primary" ng-class="active :  tabindex==3 " ng-click="tabindex = 3">Contact</md-button>
            </li>
            <li>
                <md-button class="md-primary" ng-class="active : tabindex==4 " ng-click="tabindex = 4">Resources</md-button>
            </li>

        </ul>
    </md-content>
</md-sidenav>