<md-sidenav layout="column"
            class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-close
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-content layout-padding>
        <div class="profile-content">
            <img src="/assets/profile.jpg" alt="profile" width="287"/>
        </div>
        <ul >
            <li>
                <md-button class="md-primary active">About Me</md-button>
            </li>
            <li>
                <md-button class="md-primary">Resume</md-button>
            </li>
            <li>
                <md-button class="md-primary">Contact</md-button>
            </li>
            <li>
                <md-button class="md-primary">Resources</md-button>
            </li>

        </ul>
    </md-content>
</md-sidenav>