.main-toolbar{
  background-color: transparent!important;
  .md-toolbar-tools{
    width: 100%;
  }
  button{
    background-color: white;
    color: black;
    border:0;
    margin-left: 10px;
    outline: none;
  }

  h1{
    span.welcome{
      font-weight: 200;
      color: #01579B;
    }
    .toolbar-name{
      float: left;
      font-weight: 100;
      font-size: 2rem;
      span{
        font-weight: 300;
      }
      strong{
        font-weight: 500;
      }
    }

    font-size: 25px;
    i{
      cursor: pointer;
      position: absolute;
      top: 20px;
      &.mdi-linkedin-box{
        right: 35px;
      }
      &.mdi-github-box{
        right: 80px;
      }
    }
  }
}