.main-toolbar{
  background-color: transparent!important;

  button{
    color: red;
  }

  h1{
    span.welcome{
      font-weight: 200;
      color: #01579B;
    }
    .toolbar-name{
      position: absolute;
      left: 20px;
      top: 15px;
      font-weight: 100;
      font-size: 2rem;
      span{
        font-weight: 300;
      }
      strong{
        font-weight: 500;
      }
    }

    font-size: 25px;
    i{
      cursor: pointer;
      position: absolute;
      top: 20px;
      &.mdi-linkedin-box{
        right: 35px;
      }
      &.mdi-github-box{
        right: 80px;
      }
    }
  }
}