<md-toolbar layout="row" class="md-whiteframe-z1 main-toolbar" md-scroll-shrink>
    <button ng-click="toggleSidenav('left')" hide-gt-sm>
        <i class="mdi mdi-menu"></i>
    </button>
    <h1 class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="toolbar-name">
            Julio
            <span>C.</span>
            <strong>Vila</strong>
        </span>
        <span hide-sm hide-md class="welcome"> {{ toolbarMessage }}</span>
        <a class="li-link" href="https://www.linkedin.com/pub/julio-c-vila/5b/14b/632" target="_blank">
            <i class="mdi mdi-linkedin-box"><md-tooltip>Linkedin Profile</md-tooltip></i>
        </a>
        <a class="github-link" href="https://github.com/jcvilap/Portfolio" target="_blank">
            <i class="mdi mdi-github-box"><md-tooltip>Source Code</md-tooltip></i>
        </a>
    </h1>
</md-toolbar>