<md-toolbar layout="row" class="md-whiteframe-z1 main-toolbar">
    <button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
        <span class="md-visually-hidden">Menu</span>
    </button>
    <h1 class="md-toolbar-tools" layout-align-gt-sm="center">
        <div class="toolbar-name">
            Julio
            <span>C.</span>
            <strong>Vila</strong>
        </div>
        <span class="welcome">Welcome</span>
        <a href="https://www.linkedin.com/pub/julio-c-vila/5b/14b/632" target="_blank">
            <i class="mdi mdi-linkedin-box"><md-tooltip>Linkedin Profile</md-tooltip></i>
        </a>
        <a href="https://github.com/jcvilap/Portfolio" target="_blank">
            <i class="mdi mdi-github-box"><md-tooltip>Source Code</md-tooltip></i>
        </a>
    </h1>
</md-toolbar>