.about-me-container{
  max-width: 920px;
  padding-left: 20px;
  padding-right: 10px;
  p{
    font-size: 20px;
    font-weight: 200;
    strong{
      font-weight: 500;
    }
  }
  .img-wrap{
    max-width: 137px;
    margin:20px 40px;
    img{
      max-width: 120px;
      max-height: 120px;
      &.mongo-logo{
        margin: 42px 0;
      }
      &.express-logo{
        margin: 47px 0;
      }
      &.grunt-logo{
        margin-left: 10px;
      }
      &.gulp-logo{
        margin-left: 30px;
      }
      &.maven-logo{
        margin: 47px 0;
      }
      &.underscore-logo{
        margin: 50px 2px;
      }
      &.less-logo{
        margin: 6px 0;
      }
      &.sass-logo{
        margin: 15px 0;
      }
      &.tomcat-logo{
        margin: 21px 0;
      }
    }
    h3{
      text-align: center;
      color: #757575;
    }
  }
}